*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 100px;
  font-family: sans-serif;
  flex-direction: column;
}

h1{
  transition: 0.5s;
}

h1:hover{
  transform: rotate(45deg);
}

p{
  font-size: 16px;
  max-width: 50ch;
}

button{
  padding: 2rem 4rem;
  color: white;
  border: none;
  font-size: 24px;
  background-color: red;
}

button:hover{
  cursor: pointer;
}
