*{
  margin: 0;
  padding: 0;
}

body{
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 100px;
  font-family: sans-serif;
}

h1{
  transition: 0.5s;
}

h1:hover{
  transform: rotate(45deg);
}
